.main {
  background-color: #000622;

  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 200px;

  h4 {
    color: #d1d5db;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    text-decoration: none;
  }
  span {
    color: #9ca3af;
    margin-left: 10px;
  }

  a p {
    color: #34d399;
  }
}

.isActive {
  span {
    color: #f9fafb;
  }
}

@media (max-width: 1266px) {
  .main {
    padding-left: 7%;
    justify-content: flex-start;

    h4 {
      margin-right: 50px;
    }
  }
}
